@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');     

.icon {
    width: 40px;
    height: 40px;
}

#div11 {
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    padding-top: 200px;
    text-align: center;
}

#div22 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#espaco {
    padding: 30px;
    text-align: center;
}

p {
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
}